body{
    background-image: url('https://i.pinimg.com/originals/ad/e3/b5/ade3b5ea214ca737f53ce0bce98938c2.jpg');
 background-repeat: no-repeat;
 background-size: 100% ;
}
h1{
    text-align: center;
    color: blue;
    font-size: 24px;
}
p{
    text-align: center;
    color: green;
    font-size: 18px;
}
h2{
    
    color: red;
    font-size: 20px;
}
ul{
    color: purple;
    font-size: 16px;
}